/* Transition
 -------------------------- */
/* gradient
 -------------------------- */
/* Colors
// -------------------------- */
/* Link
 -------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* Fill
-------------------------- */
/* Font
-------------------------- */
/* z-index
 -------------------------- */
/* Disable base
-------------------------- */
/* icon
-------------------------- */
/* Select
-------------------------- */
/* Input
-------------------------- */
/* Button
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Loading
 --------------------------*/
/* Message Box
 -------------------------- */
/* Message
-------------------------- */
/* Dialog
-------------------------- */
/* Scrollbar
--------------------------*/
/* Popover
-------------------------- */
/* Tooltip
  -------------------------- */
/* Radio
-------------------------- */
/* Checkbox
-------------------------- */
/* Tag
-------------------------- */
/* clearfix
--------------------------*/
.list {
  padding-bottom: 10px;
}
.list-title {
  position: relative;
  margin-left: 20px;
}
.list-title .icon_wrap span {
  font-size: 16px;
  font-weight: bold;
}
.list-title:after {
  position: absolute;
  content: '';
  display: block;
  top: 50%;
  right: 0;
  width: 665px;
  padding-left: 100px;
  border-bottom: 1px solid #f2f2f2;
  transform: translateY(-50%);
}
.list-item {
  position: relative;
  margin-top: 10px;
  padding-left: 95px;
}
.list-item-text {
  position: absolute;
  text-align: right;
  left: 0;
  top: 0;
  width: 75px;
  line-height: 36px;
  color: #656d78;
}
.list-item-con .ivu-date-picker {
  width: 280px;
}
.list-item-con .zs-input__inner {
  border-radius: 2px;
}
.list-item-con .zs-select {
  width: 280px;
}
.list-item-con-input {
  width: 280px;
}
.list-item-con-input-length {
  margin-left: 5px;
  color: #999;
}
.request {
  position: relative;
}
.request:after {
  position: absolute;
  content: '*';
  left: -18px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 3px;
  line-height: 36px;
  color: #e75845;
}
.page-main {
  zoom: 1;
  width: 1280px;
  margin: 0 auto;
}
.page-main:after {
  content: " ";
  display: table;
  clear: both;
}
.page-main .zs-table__row-hover td {
  background-color: #f0f3fa;
}
.page-main .zs-table__row-hover .item-times input {
  background-color: #f0f3fa;
}
.page-left {
  float: left;
  width: 780px;
  padding: 0 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}
.page-left .item-times p {
  cursor: pointer;
}
.page-left .item-times input {
  font-size: 12px;
  border-radius: 2px;
  text-align: center;
  width: 100%;
}
.page-left .item-times input:focus {
  border: 1px solid #4b8dde;
  background-color: #fff;
}
.package-table .control i {
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}
.page-left-bottom {
  border-top: 1px solid #f2f2f2;
}
.page-left-bottom .table-empty-data {
  height: 172px;
}
.red {
  color: #e75845;
}
.package-words {
  line-height: 36px;
  color: #656d78;
  font-size: 12px;
}
.package-words .red {
  font-size: 14px;
  font-weight: bold;
}
.package-textarea textarea {
  height: 54px;
}
.package-control {
  text-align: center;
  padding: 20px 0;
  font-size: 0;
}
.package-control .zs-button + .zs-button {
  margin-left: 20px;
}
.package-control .zs-button {
  font-size: 14px;
  width: 80px;
  height: 36px;
}
.page-right {
  float: right;
  width: 490px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}
.page-right .search-wrapper {
  position: relative;
  height: 40px;
  line-height: 40px;
  padding-left: 42px;
  padding-right: 50px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
}
.page-right .search-wrapper:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../../../../../../../components/icon/assets/search1.png") center center no-repeat;
  background-size: contain;
}
.page-right .search-wrapper .search-label {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.page-right .search-wrapper .search-label.is-open .zs-icon-arrow-top {
  border-color: #4b8dde;
}
.page-right .search-wrapper .search-result {
  position: absolute;
  top: 40px;
  left: -4px;
  z-index: 1;
  width: 468px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  line-height: 1.5;
  text-align: right;
}
.page-right .search-wrapper .search-result .zs-pagination {
  margin-top: 16px;
}
.page-right .search-wrapper .search-result .zs-table__row {
  cursor: pointer;
}
.page-right .search-wrapper .search-result .table-empty-data {
  height: 314px;
}
.page-right .search-wrapper .search-result .table-empty-data .icon_wrap {
  margin-bottom: 0;
}
.page-right .search-wrapper .zs-input__inner {
  border: none;
}
.page-right .search-wrapper .zs-input__inner:focus {
  box-shadow: none;
}
.page-right .block-5-title {
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #18202b;
  font-weight: bold;
  border-bottom: 1px solid #f2f2f2;
}
.page-right .block-5-item {
  zoom: 1;
}
.page-right .block-5-item:after {
  content: " ";
  display: table;
  clear: both;
}
.page-right .block-5-item .block-5-menu {
  float: left;
  width: 80px;
  height: 471px;
  background-color: #e1e4eb;
}
.page-right .block-5-item .block-5-menu dt,
.page-right .block-5-item .block-5-menu dd {
  height: 40px;
  padding-right: 14px;
  line-height: 40px;
  text-align: right;
  font-weight: bold;
}
.page-right .block-5-item .block-5-menu dd {
  color: #656d78;
  cursor: pointer;
}
.page-right .block-5-item .block-5-menu dd:hover {
  color: #fff;
  background-color: #4b8dde;
}
.page-right .block-5-item .block-5-menu dd.curr {
  color: #fff;
  background-color: #4b8dde;
}
.page-right .block-5-item .block-5-main {
  float: right;
  width: 390px;
  margin-right: 10px;
  text-align: right;
}
.page-right .block-5-item .block-5-main .zs-table__wrapper .table-empty-data {
  height: 300px;
}
.page-right .block-5-item .block-5-main .zs-table__wrapper .table-empty-data .icon_wrap {
  margin-bottom: 0;
}
.page-right .block-5-item .block-5-main .zs-table__body tr {
  cursor: pointer;
}
.page-right .block-5-item .block-5-main .zs-pagination {
  margin-top: 20px;
}
