/* Transition
 -------------------------- */
/* gradient
 -------------------------- */
/* Colors
// -------------------------- */
/* Link
 -------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* Fill
-------------------------- */
/* Font
-------------------------- */
/* z-index
 -------------------------- */
/* Disable base
-------------------------- */
/* icon
-------------------------- */
/* Select
-------------------------- */
/* Input
-------------------------- */
/* Button
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Loading
 --------------------------*/
/* Message Box
 -------------------------- */
/* Message
-------------------------- */
/* Dialog
-------------------------- */
/* Scrollbar
--------------------------*/
/* Popover
-------------------------- */
/* Tooltip
  -------------------------- */
/* Radio
-------------------------- */
/* Checkbox
-------------------------- */
/* Tag
-------------------------- */
/* clearfix
--------------------------*/
.setting-store {
  width: 700px;
  margin: 20px auto 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  background: #fff;
  box-sizing: border-box;
}
.setting-store .stroe-detail {
  zoom: 1;
  padding: 20px;
  border-bottom: 1px solid #f2f2f2;
}
.setting-store .stroe-detail:after {
  content: " ";
  display: table;
  clear: both;
}
.setting-store .stroe-detail .store-logo {
  width: 263px;
  height: 188px;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.setting-store .stroe-detail .store-msg {
  padding-left: 293px;
}
.setting-store .stroe-detail .store-msg .store-name {
  font-size: 18px;
  color: #232d3c;
  font-weight: bold;
  margin-bottom: 5px;
}
.setting-store .stroe-detail .store-msg .store-tel {
  line-height: 36px;
  color: #656d78;
  font-size: 18px;
}
.setting-store .stroe-detail .store-msg .store-tel .icon_wrap {
  vertical-align: middle;
  margin-right: 10px;
}
.setting-store .stroe-detail .store-msg .store-addr {
  line-height: 36px;
  color: #656d78;
  font-size: 16px;
}
.setting-store .stroe-detail .store-msg .store-addr .icon_wrap {
  vertical-align: middle;
  margin-right: 10px;
}
.setting-store .stroe-detail .store-msg .hintting {
  line-height: 32px;
  color: #999;
}
.setting-store .store-set {
  padding: 20px 20px 30px 20px;
}
.setting-store .store-set .set-title .icon_wrap {
  vertical-align: middle;
  margin-right: 10px;
  float: left;
}
.setting-store .store-set .set-title .p {
  line-height: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #232d3c;
  vertical-align: middle;
}
.setting-store .store-set .set-inp {
  zoom: 1;
  margin-top: 20px;
  padding-left: 34px;
}
.setting-store .store-set .set-inp:after {
  content: " ";
  display: table;
  clear: both;
}
.setting-store .store-set .set-inp li:first-child {
  float: left;
  color: #232d3c;
  line-height: 36px;
}
.setting-store .store-set .set-inp li:first-child em {
  color: #e75845;
}
.setting-store .store-set .set-inp li:last-child {
  float: left;
  margin-left: 20px;
}
.setting-store .store-set .set-inp li:last-child .zs-input {
  width: 280px;
  height: 36px;
}
.setting-store .store-set .set-inp li:last-child .hit {
  line-height: 30px;
  font-size: 12px;
  color: #999;
}
.setting-store .store-set .save-button {
  margin-top: 20px;
  margin-left: 186px;
}
