/* Transition
 -------------------------- */
/* gradient
 -------------------------- */
/* Colors
 -------------------------- */
/* Link
 -------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* Font
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
 -------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Input
-------------------------- */
/* Button
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Loading
 --------------------------*/
/* Modal
 --------------------------*/
/* Message
-------------------------- */
/* Message Box
 -------------------------- */
/* Dialog
-------------------------- */
/* Switch
-------------------------- */
/* ellisps
----------------------------*/
.pull-menu-wrap {
  position: fixed;
  top: 44px;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
}
.pull-menu-wrap .pull-menu-tab {
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #f6f6f6;
  zoom: 1;
}
.pull-menu-wrap .pull-menu-tab:after {
  content: " ";
  display: table;
  clear: both;
}
.pull-menu-wrap .pull-menu-tab li {
  float: left;
  width: 33.33%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #333;
}
.pull-menu-wrap .pull-menu-tab li span {
  position: relative;
  padding-right: 14px;
}
.pull-menu-wrap .pull-menu-tab li span:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border-top: 4px solid #333;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  transform: translateY(-50%);
}
.pull-menu-wrap .pull-menu-tab li.curr {
  color: #4b8dde;
}
.pull-menu-wrap .pull-menu-tab li.curr span:after {
  border-top: none;
  border-bottom: 4px solid #4b8dde;
}
.pull-menu-wrap .pull-menu-tab.only2 li {
  width: 50%;
}
.pull-menu-wrap .pull-menu-marsk {
  position: fixed;
  top: 88px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.pull-menu-wrap .pull-menu-main {
  position: relative;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
