/* Transition
 -------------------------- */
/* gradient
 -------------------------- */
/* Colors
// -------------------------- */
/* Link
 -------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* Fill
-------------------------- */
/* Font
-------------------------- */
/* z-index
 -------------------------- */
/* Disable base
-------------------------- */
/* icon
-------------------------- */
/* Select
-------------------------- */
/* Input
-------------------------- */
/* Button
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Loading
 --------------------------*/
/* Message Box
 -------------------------- */
/* Message
-------------------------- */
/* Dialog
-------------------------- */
/* Scrollbar
--------------------------*/
/* Popover
-------------------------- */
/* Tooltip
  -------------------------- */
/* Radio
-------------------------- */
/* Checkbox
-------------------------- */
/* Tag
-------------------------- */
/* clearfix
--------------------------*/
.r {
  float: right;
}
.page-main {
  zoom: 1;
  width: 1280px;
  margin: 0 auto;
}
.page-main:after {
  content: " ";
  display: table;
  clear: both;
}
.page-main.page-main-w600 {
  width: 600px;
}
.page-main.page-main-w940 {
  width: 940px;
}
.page-main table {
  width: 100%;
  table-layout: fixed;
  font-size: 12px;
}
.page-main table .table-head {
  background-color: #e1e4eb;
}
.page-main table .table-cell {
  padding-left: 8px;
  padding-right: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-all;
  box-sizing: border-box;
}
.page-main table tr {
  height: 40px;
}
.page-main table th,
.page-main table td {
  min-width: 0;
  box-sizing: border-box;
  text-align: center;
  text-overflow: ellipsis;
  vertical-align: middle;
  border-bottom: 1px solid #eee;
}
.page-main table th {
  white-space: nowrap;
  overflow: hidden;
  border-bottom: none;
}
.page-main table th .table-cell {
  border-right: 1px solid #bbb;
}
.page-main table th:last-child .table-cell {
  border-right: none;
}
.page-main .search-wrapper-box {
  padding: 16px 20px;
  border-bottom: 1px solid #f2f2f2;
}
.page-main .search-wrapper {
  position: relative;
  width: 482px;
  height: 40px;
  line-height: 40px;
  padding-left: 42px;
  padding-right: 50px;
  border: 1px solid #dadada;
  border-radius: 2px;
}
.page-main .search-wrapper:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../../../../../../../components/icon/assets/search1.png") center center no-repeat;
  background-size: contain;
}
.page-main .search-wrapper .search-label {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.page-main .search-wrapper .search-label.is-open .zs-icon-arrow-top {
  border-color: #4b8dde;
}
.page-main .search-wrapper .search-result {
  position: absolute;
  top: 40px;
  left: -4px;
  z-index: 10;
  width: 468px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  line-height: 1.5;
  text-align: right;
}
.page-main .search-wrapper .search-result .zs-pagination {
  margin-top: 16px;
}
.page-main .search-wrapper .search-result .table-empty-data {
  height: 314px;
}
.page-main .search-wrapper .search-result .table-empty-data .icon_wrap {
  margin-bottom: 0;
}
.page-main .search-wrapper .zs-input__inner {
  border: none;
}
.page-main .required:before {
  position: absolute;
  content: '*';
  left: -15px;
  color: #e75845;
}
.page-main .block-input-wrap {
  position: relative;
  width: 210px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #dadada;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  font-size: 12px;
}
.page-main .block-input-wrap .zs-input__inner {
  font-size: 12px;
}
.page-main .block-input-wrap .block-input-label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.page-main .block-input-wrap .zs-input__inner {
  padding-left: 12px;
}
.page-main .carnum-select-pop .zs-dialog {
  width: 446px;
}
.page-main .carnum-select-pop .zs-dialog__body {
  height: 442px;
  overflow: hidden;
  padding: 0;
  zoom: 1;
}
.page-main .carnum-select-pop .zs-dialog__body:after {
  content: " ";
  display: table;
  clear: both;
}
.page-main .carnum-select-pop .zs-dialog__body .carnum-select-scrollbar {
  max-height: 459px;
}
.page-main .carnum-select-pop .zs-dialog__body .carnum-area-list,
.page-main .carnum-select-pop .zs-dialog__body .carnum-area-letter {
  float: left;
}
.page-main .carnum-select-pop .zs-dialog__body .carnum-area-list .list,
.page-main .carnum-select-pop .zs-dialog__body .carnum-area-letter .list {
  height: 42px;
  line-height: 42px;
  text-align: center;
  cursor: pointer;
  color: #656d78;
}
.page-main .carnum-select-pop .zs-dialog__body .carnum-area-list .list.curr,
.page-main .carnum-select-pop .zs-dialog__body .carnum-area-letter .list.curr {
  color: #4b8dde;
  font-weight: bold;
}
.page-main .carnum-select-pop .zs-dialog__body .carnum-area-list .list.disabled,
.page-main .carnum-select-pop .zs-dialog__body .carnum-area-letter .list.disabled {
  cursor: not-allowed;
}
.page-main .carnum-select-pop .zs-dialog__body .carnum-area-list .list.disabled .default-btn,
.page-main .carnum-select-pop .zs-dialog__body .carnum-area-letter .list.disabled .default-btn {
  color: #dadada;
}
.page-main .carnum-select-pop .zs-dialog__body .carnum-area-list {
  width: 148px;
  border-right: 1px solid #f2f2f2;
}
.page-main .carnum-select-pop .zs-dialog__body .carnum-area-letter {
  width: 296px;
}
.page-main .carnum-select-pop .zs-dialog__body .carnum-area-letter .list {
  zoom: 1;
}
.page-main .carnum-select-pop .zs-dialog__body .carnum-area-letter .list:after {
  content: " ";
  display: table;
  clear: both;
}
.page-main .carnum-select-pop .zs-dialog__body .carnum-area-letter .list p {
  float: left;
  width: 50%;
}
.page-main .carnum-select-pop .zs-dialog__body .carnum-area-letter .list p:first-child {
  border-right: 1px solid #f2f2f2;
}
.page-main .temp-item-pop .zs-dialog {
  width: 460px;
}
.page-main .temp-item-pop .zs-input {
  border: 1px solid #dadada;
}
.page-main .temp-item-pop .zs-input__inner {
  height: 34px;
  line-height: 34px;
  padding-left: 12px;
}
.page-main .temp-item-pop .zs-form-item__content {
  position: relative;
  width: 280px;
  padding-right: 48px;
}
.page-main .temp-item-pop .zs-form-item__content .length-count {
  position: absolute;
  right: 0;
  top: 0;
}
.page-main .temp-item-pop .zs-form-item:last-child {
  margin-bottom: 0;
}
.page-main .employee-select-pop .zs-dialog {
  width: 376px;
}
.page-main .employee-select-pop .zs-dialog__body {
  padding: 16px;
}
.page-main .employee-select-pop .zs-dialog__footer {
  padding-bottom: 16px;
  text-align: right;
}
.page-main .employee-select-pop .table-empty-data {
  height: 392px;
}
.page-main .employee-select-pop .zs-table__body td {
  height: 38px;
}
.page-main .employee-select-pop .table-radio {
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #dadada;
  cursor: pointer;
}
.page-main .employee-select-pop .table-radio.curr {
  position: relative;
  border-color: #2cc068;
  background-color: #2cc068;
}
.page-main .employee-select-pop .table-radio.curr:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
}
.have-member .list-item .member-cars {
  padding-top: 0;
}
.have-member .list-item .car-num {
  width: 118px;
  cursor: auto;
}
.have-member .list-item .car-num .sign {
  display: none;
}
.have-member .list-item .no-car-num {
  line-height: 36px;
}
.page-left {
  padding-top: 16px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}
.page-left-top {
  margin-bottom: 40px;
  zoom: 1;
}
.page-left-top:after {
  content: " ";
  display: table;
  clear: both;
}
.page-left-top .zs-table__row .car-list {
  padding: 5px;
}
.page-left-top .page-block-1 {
  float: left;
  width: 468px;
  border: 1px solid #f2f2f2;
  border-left: 4px solid #4b8dde;
  border-radius: 2px;
}
.page-left-top .page-block-1 .block-1-list {
  padding-left: 22px;
  zoom: 1;
}
.page-left-top .page-block-1 .block-1-list:after {
  content: " ";
  display: table;
  clear: both;
}
.page-left-top .page-block-1 .block-1-list li {
  float: left;
}
.page-left-top .page-block-1 .block-1-list li .total-income {
  display: inline-block;
  width: 66px;
}
.page-left-top .page-block-1 .block-1-remark {
  position: relative;
  padding-left: 50px;
  margin-left: 22px;
  margin-bottom: 10px;
  width: 430px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #dadada;
  border-radius: 2px;
  font-size: 12px;
}
.page-left-top .page-block-1 .block-1-remark .zs-input__inner {
  padding-left: 28px;
  font-size: 12px;
}
.page-left-top .page-block-1 .block-1-remark span {
  position: absolute;
  left: 10px;
  top: 0;
}
.page-left-top .page-block-2 {
  float: right;
  width: 374px;
  height: 250px;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
}
.page-left-top .page-block-2 .block-2-package-body {
  max-height: 121px;
}
.page-left-top .page-block-2 .block-2-package-body tr {
  cursor: pointer;
}
.page-left-top .page-block-2 .block-2-package-body .package-select-scrollbar {
  max-height: 138px;
}
.page-left-top .page-block-2 .block-2-add {
  border-bottom: none;
}
.page-left-top .page-block-2 .block-2-add .zs-button {
  height: 36px;
  width: 80px;
}
.page-left-top .list-item {
  position: relative;
  margin-top: 16px;
  padding-left: 100px;
}
.page-left-top .detail-list-item {
  margin-top: 6px;
}
.page-left-top .list-item-text {
  position: absolute;
  text-align: right;
  left: 0;
  top: 0;
  width: 84px;
  line-height: 36px;
  color: #656d78;
}
.page-left-top .list-item-con-input {
  width: 260px;
}
.page-left-top .list-item-con-input .zs-input__inner {
  border-radius: 2px;
}
.page-left-top .member-cars {
  font-size: 0;
  padding-top: 16px;
}
.page-left-top .add-car {
  position: relative;
}
.page-left-top .add-car .list-item-add {
  margin-left: 7px;
  width: 80px;
  height: 36px;
}
.page-left-top .car-num {
  display: inline-block;
  border-radius: 2px;
  padding: 2px;
  background-color: #4b8dde;
  width: 140px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}
.page-left-top .car-num p {
  position: relative;
  border: 1px solid #fff;
  border-radius: 2px;
  line-height: 30px;
  color: #fff;
  padding: 0 6px 0 10px;
}
.page-left-top .car-num .spot {
  font-weight: bold;
  margin: 0 5px;
}
.page-left-top .car-num .sign {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  margin-top: -1px;
}
.add-car-box {
  position: relative;
  border: 1px solid #dadada;
  display: inline-block;
  height: 36px;
  border-radius: 2px;
  padding: 5px 0;
  font-size: 0;
  line-height: 24px;
}
.add-car-box .add-car-box-text {
  display: inline-block;
  text-align: center;
  width: 70px;
  border-right: 1px solid #dadada;
  font-size: 14px;
  cursor: pointer;
}
.add-car-box .arrow-bottom {
  margin-left: 10px;
}
.add-car-box .add-car-box-input {
  width: 118px;
  font-size: 14px;
  text-indent: 10px;
}
.add-car-box .add-car-floating {
  position: absolute;
  border: 1px solid #dadada;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  top: 44px;
  padding: 10px 0;
  z-index: 6;
  color: #656d78;
}
.add-car-box .add-car-floating .curr {
  font-weight: bold;
  color: #4b8dde;
}
.add-car-box .add-car-floating .floating-item {
  float: left;
  text-align: center;
  cursor: pointer;
}
.add-car-box .add-car-floating:before {
  content: '';
  display: block;
  position: absolute;
  top: -4px;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-top: 1px solid #dadada;
  border-left: 1px solid #dadada;
  transform: rotate(45deg);
}
.add-car-box .add-car-source {
  line-height: 36px;
  width: 722px;
}
.add-car-box .add-car-source:before {
  left: 36px;
}
.add-car-box .add-car-source .floating-item {
  width: 144px;
}
.add-car-box .add-car-word {
  line-height: 32px;
  width: 362px;
}
.add-car-box .add-car-word:before {
  left: 106px;
}
.add-car-box .add-car-word .floating-item {
  width: 90px;
}
.add-car-box .mask {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.arrow-bottom {
  position: relative;
  width: 10px;
  height: 10px;
}
.arrow-bottom:after {
  position: absolute;
  content: '';
  border: 5px solid transparent;
  border-top-color: #999;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  margin-top: 3px;
}
.package-box {
  float: left;
  position: relative;
  width: 370px;
  height: 180px;
  transition: all 0.3s;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  cursor: pointer;
}
.package-box.more-item {
  z-index: 4;
}
.package-box.more-item .package-box-bottom {
  overflow: auto;
  height: auto;
  z-index: 4;
  width: 370px;
  left: -1px;
}
.package-box.more-item .package-box-more {
  position: relative;
}
.package-box.more-item .package-box-more i {
  border-bottom: 1px solid #4b8dde;
  border-left: 1px solid #4b8dde;
  border-top-color: transparent ;
  border-right-color: transparent ;
  transform: rotate(90deg);
  margin-top: 5px;
}
.package-box.more-item .package-box-more span {
  color: #4b8dde;
}
.package-box.more-item:before,
.package-box.more-item:after {
  z-index: 5;
  background-color: #ccc;
}
.package-box:nth-child(3n) {
  margin-right: 0;
}
.package-box:before,
.package-box:after {
  content: '';
  display: block;
  position: absolute;
  top: 45px;
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  transform: rotate(45deg);
  z-index: 1;
}
.package-box:before {
  left: -6px;
  border: 1px solid transparent;
  border-right-color: #f2f2f2;
}
.package-box:after {
  right: -6px;
  border: 1px solid transparent;
  border-bottom-color: #f2f2f2;
}
.package-box:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}
.package-box.curr .package-box-top {
  background-color: #2cc068;
}
.package-box .package-box-top {
  position: relative;
  background-color: #999;
  line-height: 50px;
  color: #fff;
  border-radius: 4px 4px 0 0;
  transition: all .3s;
}
.package-box .package-box-top-left {
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
}
.package-box .package-box-top-left span {
  font-size: 18px;
  margin-left: 16px;
}
.package-box .package-box-top-right {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 12px;
  transform: translateY(-50%);
}
.package-box .package-box-bottom {
  position: relative;
  overflow: hidden;
  height: 127px;
  border-radius: 4px;
  background-color: #fff;
  color: #656d78;
}
.package-box .package-box-bottom-item {
  padding-left: 10px;
  line-height: 32px;
}
.package-box .package-box-bottom-item .r {
  margin-right: 60px;
}
.package-box .package-box-select {
  position: absolute;
  top: 110px;
  right: 10px;
  z-index: 5;
}
.package-box .package-box-more {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 32px;
  text-align: center;
  color: #999;
  font-size: 12px;
  border-top: 1px solid #f2f2f2;
  background-color: #fff;
}
.package-box .package-box-more .package-box:before,
.package-box .package-box-more .package-box:after {
  background-color: #ccc;
}
.package-box-Mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  cursor: pointer;
}
.package-box-empty {
  position: relative;
  width: 168px;
  height: 140px;
  background-color: #f0f3fa;
  border: 1px dashed #dadada;
  cursor: pointer;
}
.package-box-empty:before,
.package-box-empty:after {
  position: absolute;
  content: '';
  display: block;
  background-color: #999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.package-box-empty:before {
  width: 26px;
  height: 4px;
}
.package-box-empty:after {
  width: 4px;
  height: 26px;
}
.package-box-empty p {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #999;
  line-height: 38px;
}
.list-item-last {
  padding-bottom: 30px;
}
