/* Transition
 -------------------------- */
/* gradient
 -------------------------- */
/* Colors
// -------------------------- */
/* Link
 -------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* Fill
-------------------------- */
/* Font
-------------------------- */
/* z-index
 -------------------------- */
/* Disable base
-------------------------- */
/* icon
-------------------------- */
/* Select
-------------------------- */
/* Input
-------------------------- */
/* Button
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Loading
 --------------------------*/
/* Message Box
 -------------------------- */
/* Message
-------------------------- */
/* Dialog
-------------------------- */
/* Scrollbar
--------------------------*/
/* Popover
-------------------------- */
/* Tooltip
  -------------------------- */
/* Radio
-------------------------- */
/* Checkbox
-------------------------- */
/* Tag
-------------------------- */
/* clearfix
--------------------------*/
.add_activity {
  width: 740px;
  margin: 16px auto 40px;
  padding: 20px 0 30px 0;
  box-sizing: border-box;
  background: #fff;
  border-radius: 4px;
}
.add_activity .add-form .form-li {
  margin-top: 20px;
  position: relative;
  padding-left: 160px;
  zoom: 1;
}
.add_activity .add-form .form-li:after {
  content: " ";
  display: table;
  clear: both;
}
.add_activity .add-form .form-li .h3 {
  width: 160px;
  text-align: right;
  line-height: 36px;
  color: #232d3c;
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 20px;
}
.add_activity .add-form .form-li .h3 em {
  color: #e75845;
}
.add_activity .add-form .form-li .h3 .more {
  display: block;
  text-align: right;
  color: #999;
  line-height: 20px;
  font-size: 12px;
}
.add_activity .add-form .form-li .zs-input {
  width: 350px;
}
.add_activity .add-form .form-li .length {
  font-size: 12px;
  color: #999;
  line-height: 36px;
  margin-left: 10px;
}
.add_activity .add-form .form-li .getPhotos {
  vertical-align: top;
}
.add_activity .add-form .form-li .getPhotos .photo-info {
  font-size: 12px;
  color: #999;
  line-height: 34px;
}
.add_activity .add-form .form-li .getPhotos .upload-photo__wrap {
  height: 100px;
}
.add_activity .add-form .form-li .getPhotos .upload-photo__wrap li {
  margin-right: 12px;
}
.add_activity .add-form .form-li .getPhotos .upload-photo__btn {
  background: #fff;
}
.add_activity .add-form .form-li .getPhotos .add-label {
  width: 100px;
  height: 100px;
}
.add_activity .add-form .form-li .select-new-time {
  display: inline-block;
}
.add_activity .add-form .form-li .select-new-time .zs-input {
  width: 156px;
}
.add_activity .add-form .form-li .search_label {
  line-height: 36px;
  padding: 0 10px;
}
.add_activity .add-form .form-li .choose-merchant {
  width: 130px;
  height: 40px;
}
.add_activity .add-form .form-li .hour {
  color: #252c32;
  line-height: 36px;
  margin-left: 10px;
}
.add_activity .add-form .form-li .package-msg {
  width: 370px;
}
.add_activity .add-form .form-li .package-msg .business-name {
  display: inline-block;
  width: 160px;
  line-height: 36px;
  color: #232d3c;
}
.add_activity .add-form .form-li .package-msg .choose-again {
  float: right;
  cursor: pointer;
  line-height: 36px;
  font-weight: bold;
  color: #4b8dde;
}
.add_activity .add-form .form-li .package-msg .package-box {
  cursor: auto;
}
.add_activity .add-form .li-img {
  margin-top: 10px;
}
.add_activity .add-form .form-post {
  margin-top: 30px;
}
.add_activity .add-form .form-post .zs-button {
  margin-right: 30px;
}
.add_activity .merchant-dialog .zs-dialog__small {
  width: 880px;
}
.add_activity .merchant-dialog .zs-dialog__body {
  padding: 0;
}
.add_activity .merchant-dialog .zs-dialog__body .dialog-body {
  zoom: 1;
}
.add_activity .merchant-dialog .zs-dialog__body .dialog-body:after {
  content: " ";
  display: table;
  clear: both;
}
.add_activity .merchant-dialog .zs-dialog__body .half {
  width: 50%;
  height: 456px;
  float: left;
  padding: 16px 30px;
  border-bottom: 1px solid #f2f2f2;
}
.add_activity .merchant-dialog .zs-dialog__body .half .title {
  font-size: 18px;
  color: #232c32;
}
.add_activity .merchant-dialog .zs-dialog__body .border {
  border-right: 1px solid #f2f2f2;
}
.add_activity .merchant-dialog .zs-dialog__body .border .search {
  margin-top: 16px;
}
.add_activity .merchant-dialog .zs-dialog__body .border .search .search-inp {
  width: 310px;
}
.add_activity .merchant-dialog .zs-dialog__body .border .search .search-btn {
  width: 55px;
  height: 36px;
  margin-left: 9px;
}
.add_activity .merchant-dialog .zs-dialog__body .border .merchant-list {
  margin-top: 16px;
  text-align: right;
}
.add_activity .merchant-dialog .zs-dialog__body .border .merchant-list .zs-table__wrapper {
  margin-bottom: 16px;
}
.add_activity .merchant-dialog .zs-dialog__body .border .merchant-list .zs-table__wrapper .table-empty-data {
  height: 240px;
}
.add_activity .merchant-dialog .zs-dialog__body .border .merchant-list .zs-table__wrapper thead tr {
  background: #eee;
}
.add_activity .merchant-dialog .zs-dialog__body .border .merchant-list .zs-table__wrapper tr {
  height: 41px;
}
.add_activity .merchant-dialog .zs-dialog__body .border .merchant-list .zs-table__wrapper .zs-table__row-highlight span {
  color: #4b8dde;
}
.add_activity .merchant-dialog .zs-dialog__body .border .merchant-list .zs-table__wrapper a {
  line-height: 41px;
  display: inline-block;
  width: 100%;
}
.add_activity .merchant-dialog .zs-dialog__body .border .merchant-list .page-num {
  vertical-align: middle;
}
.add_activity .merchant-dialog .zs-dialog__body .border .merchant-list .total-num {
  display: inline-block;
  vertical-align: middle;
}
.add_activity .merchant-dialog .zs-dialog__footer {
  margin: 15px 0;
  padding: 0;
}
.package-box {
  float: left;
  position: relative;
  width: 370px;
  /*height: 180px;*/
  transition: all 0.3s;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  cursor: pointer;
}
.package-box.more-item {
  z-index: 4;
}
.package-box.more-item .package-box-bottom {
  overflow: auto;
  height: auto;
  z-index: 4;
  width: 370px;
  left: -1px;
}
.package-box.more-item .package-box-more {
  position: relative;
}
.package-box.more-item .package-box-more i {
  border-bottom: 1px solid #4b8dde;
  border-left: 1px solid #4b8dde;
  border-top-color: transparent ;
  border-right-color: transparent ;
  transform: rotate(90deg);
  margin-top: 5px;
}
.package-box.more-item:before,
.package-box.more-item:after {
  z-index: 5;
}
.package-box:nth-child(3n) {
  margin-right: 0;
}
.package-box:before,
.package-box:after {
  content: '';
  display: block;
  position: absolute;
  top: 45px;
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  transform: rotate(45deg);
  z-index: 1;
}
.package-box:before {
  left: -6px;
  border: 1px solid transparent;
  border-right-color: #f2f2f2;
}
.package-box:after {
  right: -6px;
  border: 1px solid transparent;
  border-bottom-color: #f2f2f2;
}
.package-box:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}
.package-box.curr .package-box-top {
  background-color: #2cc068;
}
.package-box .package-box-top {
  position: relative;
  background-color: #999;
  line-height: 50px;
  color: #fff;
  border-radius: 4px 4px 0 0;
  transition: all .3s;
}
.package-box .package-box-top-left {
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
}
.package-box .package-box-top-left span {
  font-size: 18px;
  margin-left: 16px;
}
.package-box .package-box-top-right {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 12px;
  transform: translateY(-50%);
}
.package-box .package-box-bottom {
  position: relative;
  overflow: hidden;
  max-height: 96px;
  border-radius: 4px;
  background-color: #fff;
  color: #656d78;
}
.package-box .package-box-bottom-item {
  padding-left: 10px;
  line-height: 32px;
}
.package-box .package-box-bottom-item .r {
  margin-right: 60px;
  float: right;
}
.package-box .package-box-select {
  position: absolute;
  /*top:110px;*/
  bottom: 5px;
  right: 10px;
  z-index: 5;
}
.package-box .more-package {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  background-color: #fff;
  color: #656d78;
}
.package-box .package-box-more {
  width: 100%;
  line-height: 32px;
  text-align: center;
  color: #999;
  font-size: 12px;
  border-top: 1px solid #f2f2f2;
  background-color: #fff;
}
.package-box .package-box-more .package-box:before,
.package-box .package-box-more .package-box:after {
  background-color: #ccc;
}
.package-scroll {
  height: 383px;
  margin-top: 16px;
}
.package-scroll .zs-scrollbar__wrap {
  height: 400px;
}
