/* Transition
 -------------------------- */
/* gradient
 -------------------------- */
/* Colors
// -------------------------- */
/* Link
 -------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* Fill
-------------------------- */
/* Font
-------------------------- */
/* z-index
 -------------------------- */
/* Disable base
-------------------------- */
/* icon
-------------------------- */
/* Select
-------------------------- */
/* Input
-------------------------- */
/* Button
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Loading
 --------------------------*/
/* Message Box
 -------------------------- */
/* Message
-------------------------- */
/* Dialog
-------------------------- */
/* Scrollbar
--------------------------*/
/* Popover
-------------------------- */
/* Tooltip
  -------------------------- */
/* Radio
-------------------------- */
/* Checkbox
-------------------------- */
/* Tag
-------------------------- */
/* clearfix
--------------------------*/
.r {
  float: right;
}
.page-base {
  border-radius: 4px;
  padding: 10px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  width: 900px;
  margin: 20px auto 0;
}
.gray {
  color: #999;
}
.main {
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 4px;
  padding: 16px 0 20px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}
.list {
  padding-bottom: 20px;
}
.list-lock {
  margin: 10px 0 16px 40px;
  padding-left: 10px;
  color: #e75845;
  background-color: #ffe5e1;
  width: 380px;
  line-height: 26px;
  font-size: 12px;
}
.list-title {
  position: relative;
  margin-left: 20px;
}
.list-title .icon_wrap span {
  font-size: 16px;
  font-weight: bold;
}
.list-title:after {
  position: absolute;
  content: '';
  display: block;
  top: 50%;
  right: 0;
  width: 665px;
  padding-left: 100px;
  border-bottom: 1px solid #f2f2f2;
  transform: translateY(-50%);
}
.list-item {
  position: relative;
  margin-top: 16px;
  padding-left: 132px;
}
.detail-list-item {
  margin-top: 6px;
}
.list-item-text {
  position: absolute;
  text-align: right;
  left: 0;
  top: 0;
  width: 116px;
  line-height: 36px;
  color: #656d78;
}
.list-item-con .member-remarks-count {
  color: #999;
  margin-left: 6px;
}
.list-item-con-input {
  width: 260px;
}
.list-item-con-input .zs-input__inner {
  border-radius: 2px;
}
.member-cars {
  font-size: 0;
  padding-top: 16px;
}
.member-cars.cannot-edit {
  padding-top: 0;
}
.member-cars.cannot-edit .car-num {
  width: 118px;
  cursor: auto;
}
.member-cars.cannot-edit .sign {
  display: none;
}
.car-num {
  display: inline-block;
  border-radius: 2px;
  padding: 2px;
  background-color: #4b8dde;
  width: 140px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}
.car-num p {
  position: relative;
  border: 1px solid #fff;
  border-radius: 2px;
  line-height: 30px;
  color: #fff;
  padding: 0 6px 0 10px;
}
.car-num .spot {
  font-weight: bold;
  margin: 0 5px;
}
.car-num .sign {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  margin-top: -1px;
}
.list-table {
  position: relative;
  padding: 0 34px;
  margin-top: 16px;
}
.list-table .hit-icon {
  position: absolute;
  top: 45px;
  right: 45px;
}
.list-table.list-table-expired .list-table-title,
.list-table.list-table-pass .list-table-title {
  background-color: #bbb;
}
.list-table-title {
  position: relative;
  border-radius: 4px 4px 0 0;
  color: #fff;
  background-color: #2cc068;
}
.list-table-title .list-table-title-left {
  line-height: 60px;
  font-size: 20px;
  font-weight: bold;
  padding-left: 16px;
}
.list-table-title .list-table-title-left span {
  margin-left: 30px;
  font-size: 24px;
}
.list-table-title .list-table-title-time {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  line-height: 30px;
}
.list-table-title:before,
.list-table-title:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  background-color: #fff;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 10px;
}
.list-table-title:before {
  left: -5px;
}
.list-table-title:after {
  right: -5px;
}
.list-item-bind {
  padding-top: 30px;
}
.list-item-bind:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50px;
  width: 800px;
  border-top: 1px solid #f2f2f2;
}
.list-item-bind .list-item-text {
  top: 30px;
}
.list-item-save {
  width: 120px;
  height: 44px;
}
.add-car {
  position: relative;
}
.add-car .list-item-add {
  margin-left: 7px;
  width: 80px;
  height: 36px;
}
.add-car-box {
  position: relative;
  border: 1px solid #dadada;
  display: inline-block;
  height: 36px;
  border-radius: 2px;
  padding: 5px 0;
  font-size: 0;
  line-height: 24px;
}
.add-car-box .add-car-box-text {
  display: inline-block;
  text-align: center;
  width: 70px;
  border-right: 1px solid #dadada;
  font-size: 14px;
  cursor: pointer;
}
.add-car-box .arrow-bottom {
  margin-left: 10px;
}
.add-car-box .add-car-box-input {
  width: 118px;
  font-size: 14px;
  text-indent: 10px;
}
.add-car-box .add-car-floating {
  position: absolute;
  border: 1px solid #dadada;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  top: 44px;
  padding: 10px 0;
  z-index: 2;
  color: #656d78;
}
.add-car-box .add-car-floating .curr {
  font-weight: bold;
  color: #4b8dde;
}
.add-car-box .add-car-floating .floating-item {
  float: left;
  text-align: center;
  cursor: pointer;
}
.add-car-box .add-car-floating:before {
  content: '';
  display: block;
  position: absolute;
  top: -4px;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-top: 1px solid #dadada;
  border-left: 1px solid #dadada;
  transform: rotate(45deg);
}
.add-car-box .add-car-source {
  line-height: 36px;
  width: 722px;
}
.add-car-box .add-car-source:before {
  left: 36px;
}
.add-car-box .add-car-source .floating-item {
  width: 144px;
}
.add-car-box .add-car-word {
  line-height: 32px;
  width: 362px;
}
.add-car-box .add-car-word:before {
  left: 106px;
}
.add-car-box .add-car-word .floating-item {
  width: 90px;
}
.add-car-box .mask {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.arrow-bottom {
  position: relative;
  width: 10px;
  height: 10px;
}
.arrow-bottom:after {
  position: absolute;
  content: '';
  border: 5px solid transparent;
  border-top-color: #999;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  margin-top: 3px;
}
.package-table tr {
  color: #656d78;
}
.package-table .zs-table thead tr {
  background-color: #fff;
}
.list-table-empty {
  padding: 62px 0;
  text-align: center;
}
.list-table-empty p {
  color: #999;
}
