/* Transition
 -------------------------- */
/* gradient
 -------------------------- */
/* Colors
// -------------------------- */
/* Link
 -------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* Fill
-------------------------- */
/* Font
-------------------------- */
/* z-index
 -------------------------- */
/* Disable base
-------------------------- */
/* icon
-------------------------- */
/* Select
-------------------------- */
/* Input
-------------------------- */
/* Button
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Loading
 --------------------------*/
/* Message Box
 -------------------------- */
/* Message
-------------------------- */
/* Dialog
-------------------------- */
/* Scrollbar
--------------------------*/
/* Popover
-------------------------- */
/* Tooltip
  -------------------------- */
/* Radio
-------------------------- */
/* Checkbox
-------------------------- */
/* Tag
-------------------------- */
/* clearfix
--------------------------*/
.r {
  float: right;
}
.gray {
  color: #999;
}
.cooperate {
  width: 1280px;
  margin: 20px auto 0;
  border-radius: 4px;
  padding: 10px;
}
.cooperate .table-empty-data {
  height: 404px;
}
.pay_list-pagination {
  margin: 20px 10px 10px;
  text-align: right;
}
