/* Transition
 -------------------------- */
/* gradient
 -------------------------- */
/* Colors
 -------------------------- */
/* Link
 -------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* Font
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
 -------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Input
-------------------------- */
/* Button
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Loading
 --------------------------*/
/* Modal
 --------------------------*/
/* Message
-------------------------- */
/* Message Box
 -------------------------- */
/* Dialog
-------------------------- */
/* Switch
-------------------------- */
/* ellisps
----------------------------*/
.open-package-page {
  padding-top: calc(94px);
}
.open-package-page .list-empty {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 77px;
  width: 100%;
  padding-top: 60px;
  font-size: 14px;
  color: #999;
  text-align: center;
  line-height: 34px;
  transform: translate(-50%, -50%);
  background-image: url("../../../assets/img/empty2.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 60px 60px;
}
.open-package-page .show-more {
  margin-bottom: 15px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #fff;
  font-size: 12px;
  color: #656d78;
}
.open-package-page .no-more {
  background: none;
  color: #999;
}
.open-package-page .tab__wrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 44px;
  z-index: 1;
}
.open-package-list {
  padding: 15px;
}
.open-package-list .item {
  margin-bottom: 15px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
}
.open-package-list .item.time-out .item-head,
.open-package-list .item.use-up .item-head {
  position: relative;
}
.open-package-list .item.time-out .item-head .head-info,
.open-package-list .item.use-up .item-head .head-info {
  background-color: rgba(0, 138, 255, 0.08);
}
.open-package-list .item.time-out .show-more-item,
.open-package-list .item.use-up .show-more-item {
  color: #999;
}
.open-package-list .item.time-out .service-info,
.open-package-list .item.use-up .service-info {
  position: relative;
}
.open-package-list .item.time-out .service-info:after,
.open-package-list .item.use-up .service-info:after {
  content: '';
  position: absolute;
  right: 8px;
  top: -38px;
  width: 87px;
  height: 57px;
  background-size: 59px 59px;
  background-position: center center;
  background-repeat: no-repeat;
}
.open-package-list .item.time-out .service-info:after {
  background-image: url("assets/icon-seal-gq.png");
}
.open-package-list .item.use-up .service-info:after {
  background-image: url("assets/icon-seal-yy.png");
}
.open-package-list .item-head {
  border-top: 2px solid #008aff;
  position: relative;
  background-size: 8px 8px;
}
.open-package-list .item-head:after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 6px;
  background-size: 12px 6px;
}
.open-package-list .item-head .head-info {
  background-color: rgba(0, 138, 255, 0.08);
  appearance: none;
  padding: 0 15px;
  color: #000;
}
.open-package-list .item-head .head-info:first-child {
  padding-top: 9px;
  height: 35px;
  line-height: 26px;
  font-size: 18px;
  color: #333333;
  overflow: hidden;
}
.open-package-list .item-head .head-info:first-child .item-createtime {
  float: right;
  font-size: 12px;
  color: #999;
}
.open-package-list .item-head .head-info:last-child {
  padding-bottom: 10px;
  zoom: 1;
  height: 36px;
  line-height: 26px;
}
.open-package-list .item-head .head-info:last-child:after {
  content: " ";
  display: table;
  clear: both;
}
.open-package-list .item-head .head-info:last-child .item-name {
  font-size: 15px;
  font-weight: bold;
}
.open-package-list .item-head .head-info:last-child .item-merchant {
  font-size: 13px;
  color: #333333;
}
.open-package-list .item-head .head-info:last-child .item-validate {
  float: right;
  margin-top: 4px;
  height: 18px;
  width: 75px;
  line-height: 18px;
  text-align: right;
  font-size: 12px;
  color: #999;
}
.open-package-list .service-info {
  padding: 0px 15px;
  font-size: 14px;
}
.open-package-list .service-info p {
  height: 38px;
  line-height: 38px;
  color: #999;
  border-bottom: 1px solid #eee;
}
.open-package-list .service-info p span {
  float: right;
  color: #dddddd;
}
.open-package-list .service-info p span i:nth-child(3n+1) {
  color: #666;
}
.open-package-list .service-info p span i:nth-child(3n+2) {
  color: #666;
}
.open-package-list .service-info p span i:nth-child(3n+3) {
  color: #008aff;
}
.open-package-list .service-info p:last-child {
  border-bottom: none;
}
.open-package-list .show-more-item {
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #008aff;
  font-size: 14px;
}
