<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 基础封装数据库操作类，通过映射直接处理相应对象的简单读写操作 -->
<mapper namespace="Finance">

    <select id="selectFinanceInOrOutComeDto" resultType="java.util.Map" parameterType="java.util.HashMap">
        SELECT case inOrOutCome WHEN 1 THEN 'inCome' WHEN 2 THEN 'outCome' END as inOrOutCome
        ,SUM(money) AS sumMoney FROM Finance where 1=1
        <if test="createTimeStart != null and createTimeStart != ''">
            and createTime &gt;= #{createTimeStart}
        </if>
        <if test="createTimeEnd != null and createTimeEnd != ''">
            and createTime &lt;= #{createTimeEnd}
        </if>
        <if test="financeType != null and financeType != ''">
            and financeType = #{financeType}
        </if>
        <if test="payType != null and payType != ''">
            and payType = #{payType}
        </if>
       GROUP BY inOrOutCome
    </select>

    <select id="selectPageFinance" resultType="Finance" parameterType="java.util.HashMap">
        SELECT * FROM Finance where 1=1 and money>0 AND money is not NULL
        <if test="createTimeStart != null and createTimeStart != ''">
            and createTime &gt;= #{createTimeStart}
        </if>
        <if test="createTimeEnd != null and createTimeEnd != ''">
            and createTime &lt;= #{createTimeEnd}
        </if>
        <if test="financeType != null and financeType != ''">
            and financeType = #{financeType}
        </if>
        <if test="payType != null and payType != ''">
            and payType = #{payType}
        </if>
    </select>

    <!--查询商家的营业收入-->
    <select id="selectFinanceByDate" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select sum(money) from Finance
        where 1=1
        <if test="createTimeStart != null and createTimeStart != ''">
        and createTime &gt;= #{createTimeStart}
        </if>
        <if test="createTimeEnd != null and createTimeEnd != ''">
            and createTime &lt;= #{createTimeEnd}
        </if>
        and businessId=#{businessId}
        and inOrOutCome=1
    </select>

</mapper>