<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 基础封装数据库操作类，通过映射直接处理相应对象的简单读写操作 -->
<mapper namespace="PackageAndItem">

    <resultMap id="packageAndItemResult" type="PackageAndItem">
        <id property="id" column="packageAndItemId"/>
        <result property="useTimes" column="useTimes"/>
        <result property="businessPackageId" column="businessPackageId"/>
        <result property="serviceItemId" column="serviceItemId"/>
        <association property="serviceItem" javaType="ServiceItem">
            <result property="itemName" column="itemName"/>
            <result property="originalPrice" column="originalPrice"/>
            <result property="salePrice" column="salePrice"/>
            <result property="businessId" column="businessId"/>
        </association>
    </resultMap>

    <select id="selectByPackageId" resultMap="packageAndItemResult">
          SELECT p.id AS packageAndItemId,p.businessPackageId,p.useTimes,p.serviceItemId,s.itemName,
           s.businessId,s.originalPrice,s.salePrice
          FROM PackageAndItem p LEFT JOIN ServiceItem s ON p.serviceItemId = s.id
          WHERE p.businessPackageId = #{businessPackageId};
    </select>
</mapper>