<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 基础封装数据库操作类，通过映射直接处理相应对象的简单读写操作 -->
<mapper namespace="WorkOrder">

    <resultMap id="workOrderResult" type="WorkOrder">
        <id property="id" column="id"/>
        <result property="orderNo" column="orderNo"/>
        <result property="totalPrice" column="totalPrice"/>
        <result property="carNumber" column="carNumber"/>
        <result property="userId" column="userId"/>
        <result property="businessId" column="businessId"/>
        <result property="state" column="state"/>
        <result property="updateTime" column="updateTime"/>
        <result property="createTime" column="workOrderCreateTime"/>
        <result property="mobile" column="mobile"/>
        <result property="businessDeduct" column="businessDeduct"/>
        <result property="materialCost" column="materialCost"/>
        <result property="couponDeduct" column="couponDeduct"/>
        <result property="discountDeduct" column="discountDeduct"/>
        <result property="discountNum" column="discountNum"/>
        <result property="couponUuid" column="couponUuid"/>
        <result property="couponName" column="couponName"/>
        <result property="couponEveryDeduct" column="couponEveryDeduct"/>
        <result property="balanceDeduct" column="balanceDeduct"/>
        <result property="comment" column="comment"/>
        <result property="payType" column="payType"/>
        <result property="payTime" column="payTime"/>
        <result property="lvlName" column="lvlName"/>
        <result property="recordId" column="recordId"/>
        <result property="commitTime" column="commitTime"/>
        <collection property="workOrderDetails" ofType="WorkOrderDetail">
            <result property="id" column="detailId"/>
            <result property="serviceItemId" column="serviceItemId"/>
            <result property="serviceItemName" column="serviceItemName"/>
            <result property="discountType" column="ddiscountType"/>
            <result property="discountNumber" column="ddiscountNumber"/>
            <result property="discountPrice" column="ddiscountPrice"/>
            <result property="couponUuid" column="dcouponUuid"/>
            <result property="couponName" column="dcouponName"/>
            <result property="couponDeduct" column="dcouponDeduct"/>
            <result property="totalPrice" column="dtotalPrice"/>
            <result property="itemsTimes" column="itemsTimes"/>
            <result property="salePrice" column="detailSalePrice"/>
            <result property="usePackageTimes" column="usePackageTimes"/>
            <result property="workerId" column="workerId"/>
            <result property="workerName" column="workerName"/>
            <result property="salerId" column="salerId"/>
            <result property="salerName" column="salerName"/>
            <result property="itemType"  column="itemType"/>
        </collection>
        <collection property="workOrderImgs" ofType="WorkOrderImg">
            <result property="id" column="imgId"/>
            <result property="orderImg" column="orderImg"/>
            <result property="createTime" column="createTime"/>
            <result property="workOrderId" column="workOrderId"/>
        </collection>
    </resultMap>

    <select id="selectMoreInfoByParam" parameterType="java.util.HashMap" resultMap="workOrderResult">
        SELECT wo.id,wo.orderNo,wo.totalPrice,wo.carNumber,wo.userId,wo.state,wo.businessId,wo.createTime AS
        workOrderCreateTime, wo.couponEveryDeduct
        ,wo.updateTime,wo.mobile,wo.businessDeduct,wo.materialCost,wo.couponUuid,wo.couponDeduct,wo.totalPrice,wo.discountDeduct,wo.discountNum,
        wo.comment, wo.payType, wo.payTime, wo.couponName, wo.commitTime, wo.balanceDeduct
        ,si.itemType
        ,(select ml.lvlName as lvlName from Car car
        left join User user on user.id = car.userId
        left join MemberLvlRecord mr on mr.userId = user.id
        left join MemberLvl ml on ml.id = mr.memberLvlId
        where car.carState = 1 and car.carNumber = wo.carNumber
        and mr.businessId = wo.businessId
        order by car.createTime desc limit 1) as lvlName
        ,(select mr.id as recordId from Car car
        left join User user on user.id = car.userId
        left join MemberLvlRecord mr on mr.userId = user.id
        where car.carState = 1 and car.carNumber = wo.carNumber
        and mr.businessId = wo.businessId
        order by car.createTime desc limit 1) as recordId
        ,detail.id AS
        detailId,detail.serviceItemId,detail.serviceItemName,detail.itemsTimes,detail.usePackageTimes,detail.salePrice
        as detailSalePrice, detail.workerId, detail.salerId
        ,img.id AS imgId, img.orderImg, img.createTime
        ,(select bu.realName from BusinessUser bu where bu.id = detail.workerId) as workerName
        ,(select bu.realName from BusinessUser bu where bu.id = detail.salerId) as salerName
        ,detail.discountType as ddiscountType,detail.discountNumber as ddiscountNumber,detail.discountPrice as ddiscountPrice
        ,detail.couponUuid as dcouponUuid, detail.couponName as dcouponName, detail.couponDeduct as dcouponDeduct, detail.totalPrice as dtotalPrice
        FROM WorkOrder wo
        LEFT JOIN WorkOrderDetail detail ON wo.id=detail.workOrderId
        LEFT JOIN ServiceItem si ON detail.serviceItemId=si.id
        <if test="operatorId != null and operatorId != ''">
            AND detail.workerId = #{operatorId}
        </if>
        LEFT JOIN WorkOrderImg img ON img.workOrderId = wo.id
        WHERE 1=1
        <if test="businessId != null and businessId != ''">
            AND wo.businessId = #{businessId}
        </if>
        <if test="orderId != null and orderId != ''">
            AND wo.id = #{orderId}
        </if>
        <if test="carNumber != null and carNumber != ''">
            AND wo.carNumber = upper(#{carNumber})
        </if>
        <if test="stateList !=null and stateList.size >0">
            AND wo.state in
            <foreach collection="stateList" item="state" index="index" open="(" separator="," close=")">
                #{state}
            </foreach>
        </if>
        <if test="orderIds != null and orderIds != ''">
            AND wo.id in (${orderIds})
        </if>
        ORDER BY wo.payTime DESC, wo.commitTime DESC, wo.createTime DESC
    </select>

    <select id="selectWorkOrderPage" parameterType="java.util.Map" resultType="WorkOrder">
        select wo.*
        ,u.realName as realName
        ,(select GROUP_CONCAT(wod.serviceItemName) from WorkOrderDetail wod where wod.workOrderId = wo.id group by
        wod.workOrderId) as itemNames
        from WorkOrder wo
        left join Car c ON c.carNumber=wo.carNumber and c.carState = 1
        left join User u ON c.userId=u.id
        where 1=1
        <if test="state != null and state != ''">
            and wo.state = #{state}
        </if>
        <if test="startTime != null and startTime != ''">
            and wo.payTime &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and wo.payTime &lt;= #{endTime}
        </if>
        <if test="searchKey != null and searchKey != ''">
            and (wo.carNumber like upper(CONCAT('%',#{searchKey},'%' )) or wo.mobile like CONCAT('%',#{searchKey},'%' ))
        </if>
        <if test="payType != null and payType != ''">
            and wo.payType = #{payType}
        </if>
        <if test="userId != null and userId != ''">
            AND u.id = #{userId}
        </if>
        <if test="wxOpenId != null and wxOpenId != ''">
            AND u.wxOpenId = #{wxOpenId}
        </if>
        ORDER BY wo.payTime DESC, wo.commitTime DESC, wo.createTime DESC
    </select>

    <select id="countServiceItemUseInWorkOrder" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT count(id) FROM WorkOrderDetail WHERE serviceItemId = #{serviceItemId};
    </select>

    <!-- 导出工单列表 -->
    <select id="selectWorkOrderForExcel" parameterType="java.util.Map" resultType="WorkOrderExcelDto">
        select wo.orderNo as orderNo
        ,date_format(wo.createTime, '%Y年%m月%d日') as createTime
        ,wo.carNumber as carNumber
        ,wo.mobile as mobile
        ,(SELECT GROUP_CONCAT(CASE WHEN (detail.usePackageTimes &lt;= 0 OR detail.usePackageTimes IS NULL)
        THEN CONCAT(detail.serviceItemName, detail.itemsTimes, '次')
        ELSE CONCAT(detail.serviceItemName, detail.itemsTimes, '次（扣卡', detail.usePackageTimes, '次）')
        END)
        FROM `WorkOrderDetail` detail
        WHERE detail.workOrderId = wo.id
        GROUP BY detail.workOrderId) as serviceItemNames
        ,wo.materialCost as materialCost
        ,(case when wo.discountDeduct is not null then wo.discountDeduct else
        (select sum(detail.discountPrice) from WorkOrderDetail detail where detail.workOrderId = wo.id) end) as discountDeduct
        ,wo.businessDeduct as businessDeduct
        ,(case when wo.couponDeduct is not null then wo.couponDeduct else
        (select sum(detail.couponDeduct) from WorkOrderDetail detail where detail.workOrderId = wo.id) end) as couponDeduct
        ,wo.balanceDeduct as balanceDeduct
        ,wo.totalPrice as payPrice
        ,(case wo.payType when 1 then '线下付款' when 2 then '微信付款' else '其他' end) as payType
        ,date_format(wo.payTime, '%Y年%m月%d日 %h:%i:%s') as payTime
        ,wo.comment as comment
        from WorkOrder wo
        where 1=1
        <if test="state != null and state != ''">
            and wo.state = #{state}
        </if>
        <if test="startTime != null and startTime != ''">
            and wo.commitTime &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and wo.commitTime &lt;= #{endTime}
        </if>
        <if test="searchKey != null and searchKey != ''">
            and (wo.carNumber like upper(CONCAT('%',#{searchKey},'%' )) or wo.mobile like CONCAT('%',#{searchKey},'%' ))
        </if>
        <if test="payType != null and payType != ''">
            and wo.payType = #{payType}
        </if>
        ORDER BY wo.payTime DESC, wo.commitTime DESC, wo.createTime DESC
    </select>

    <select id="selectWorkOrderStateCount" resultType="java.lang.String" parameterType="java.util.Map">
        SELECT CONCAT(wo.state,',',count(wo.id))
        FROM WorkOrder wo
        GROUP BY wo.state
    </select>

    <select id="selectWorkOrderNoPaidCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(wo.id)
        FROM WorkOrder wo
        left join Car c ON c.carNumber=wo.carNumber
        where wo.businessId=#{businessId}
        and c.carState = 1
        and wo.state=3
    </select>

    <select id="selectCountWorkOrder" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT count(id) FROM `WorkOrder` WHERE 1=1
        <if test="startTime != null and startTime != ''">
            and createTime &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and createTime &lt;= #{endTime}
        </if>
    </select>

    <select id="selectServiceItemIdForOperator" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT detail.serviceItemId
        FROM WorkOrderDetail detail
        WHERE detail.workOrderId = #{orderId}
        AND (detail.workerId != #{operatorId} OR detail.workerId IS NULL)
        AND detail.serviceItemId IS NOT NULL
    </select>

    <select id="selectWorkOrderPaymentRate" resultType="java.util.Map" parameterType="java.util.HashMap">
        SELECT case payType WHEN 1 THEN 'cash' when 2 then 'wechat' when 3 then 'debts' end as payType,COUNT(id) AS
        count
        FROM WorkOrder where state=4
        <if test="createTimeStart != null and createTimeStart != ''">
            and payTime &gt;= #{createTimeStart}
        </if>
        <if test="createTimeEnd != null and createTimeEnd != ''">
            and payTime &lt;= #{createTimeEnd}
        </if>
        GROUP BY payType;
    </select>

    <select id="selectPagePaymentRateDto" resultType="PaymentRateDto" parameterType="java.util.HashMap">
        SELECT bs.id,bs.businessName,COUNT(wo.id) as workOrderNum,COUNT(wo2.id)as wxPayNum FROM Business bs
        INNER JOIN WorkOrder wo ON bs.id=wo.businessId AND wo.state=4
        left JOIN WorkOrder wo2 ON wo.id=wo2.id AND wo2.state=4 AND wo2.payType=2
        WHERE 1=1
        <if test="createTimeStart != null and createTimeStart != ''">
            and wo.payTime &gt;= #{createTimeStart}
        </if>
        <if test="createTimeEnd != null and createTimeEnd != ''">
            and wo.payTime &lt;= #{createTimeEnd}
        </if>
        GROUP BY bs.id
        <if test="orderBy != null and orderBy != ''">
            order by ${orderBy}
        </if>
    </select>

    <resultMap id="UserCenterWorkOrderResult" type="UserWorkOrderDto">
        <result property="workOrderId" column="workOrderId"/>
        <result property="orderNo" column="orderNo"/>
        <result property="state" column="state"/>
        <result property="carNumber" column="carNumber"/>
        <result property="materialCost" column="materialCost"/>
        <result property="createTime" column="createTime"/>
        <result property="totalPrice" column="totalPrice"/>
        <result property="businessDeduct" column="businessDeduct"/>
        <result property="businessName" column="businessName"/>
        <result property="businessId" column="businessId"/>
        <result property="discountNumber" column="discountNumber"/>
        <result property="couponDeduct" column="couponDeduct"/>
        <result property="discountDeduct" column="discountDeduct"/>
        <result property="discountNum" column="discountNum"/>
        <result property="balanceDeduct" column="balanceDeduct"/>
        <result property="updateTime" column="updateTime"/>
        <result property="payType" column="payType"/>
        <collection property="serviceItems" ofType="ServiceItemDto">
            <result property="itemName" column="itemName"/>
            <result property="serviceItemId" column="serviceItemId"/>
            <result property="salePrice" column="salePrice"/>
            <result property="payPrice" column="payPrice"/>
            <result property="itemsTimes" column="itemsTimes"/>
            <result property="usePackageTimes" column="usePackageTimes"/>
            <result property="discountType" column="ddiscountType"/>
            <result property="discountNumber" column="ddiscountNumber"/>
            <result property="discountPrice" column="ddiscountPrice"/>
            <result property="couponUuid" column="dcouponUuid"/>
            <result property="couponName" column="dcouponName"/>
            <result property="couponDeduct" column="dcouponDeduct"/>
            <result property="totalPrice" column="dtotalPrice"/>
        </collection>
        <collection property="workOrderImgs" ofType="WorkOrderImg">
            <result property="orderImg" column="orderImg"/>
        </collection>
        <collection property="memberLvlRecord" ofType="memberLvlRecord">
            <result property="remarks" column="remarks"/>
        </collection>
    </resultMap>

    <select id="selectWorkOrderDtoById" parameterType="java.util.HashMap" resultMap="UserCenterWorkOrderResult">
        SELECT wod.id AS
        workOrderId,wod.orderNo,wod.carNumber,wod.state,wod.createTime,wod.businessDeduct,wod.totalPrice,
        bs.businessName,bs.id AS businessId,(CASE WHEN wc.id IS NOT NULL THEN 1 ELSE 2 END) AS payType, wod.balanceDeduct,
        wodet.salePrice AS payPrice,wod.updateTime,wodet.usePackageTimes,wodet.itemsTimes
        ,wodet.discountType as ddiscountType,wodet.discountNumber as ddiscountNumber,wodet.discountPrice as ddiscountPrice
        ,wodet.couponUuid as dcouponUuid, wodet.couponName as dcouponName, wodet.couponDeduct as dcouponDeduct, wodet.totalPrice as dtotalPrice
        ,wodet.salePrice,wodet.serviceItemName as itemName
        ,img.orderImg,wod.materialCost,wod.couponDeduct,wod.discountDeduct,wod.discountNum
        FROM WorkOrder wod
        INNER JOIN Business bs ON wod.businessId = bs.id
        INNER JOIN WorkOrderDetail wodet ON wod.id=wodet.workOrderId
        LEFT JOIN WorkOrderImg img ON img.workOrderId = wod.id
        LEFT JOIN WeChatPayOrder wc ON (wod.id = wc.workOrderId AND wc.status =2)
        WHERE 1=1
        <if test="id !=null and id gt 0">
            AND wod.id = #{id}
        </if>
    </select>

    <select id="selectWorkOrderByParam" parameterType="java.util.HashMap" resultType="WorkOrder">
        SELECT
        wo.id,wo.orderNo,wo.totalPrice,wo.carNumber,wo.userId,wo.state,wo.businessId,wo.updateTime,wo.materialCost,wo.couponUuid,wo.couponDeduct
        FROM WorkOrder wo
        LEFT JOIN WeChatPayOrder wc ON (wo.id = wc.workOrderId AND wc.status =2)
        LEFT JOIN User u ON wo.userId = u.id
        WHERE 1=1
        <if test="wxOpenId != null and wxOpenId!=''">
            AND u.wxOpenId= #{wxOpenId}
        </if>
        <if test="payType != null and payType == 1">AND wc.id IS NOT NULL</if>
        <if test="payType != null and payType == 2">AND wc.id IS NULL</if>
        <if test="carNumber != null and carNumber != ''">AND (wo.carNumber like upper(CONCAT('%',#{carNumber},'%' )) OR
            (u.mobile like CONCAT('%',#{carNumber},'%' ) ))
        </if>
        <if test="userId != null and userId gt 0">AND wo.userId = #{userId}</if>
        <if test="startTime != null and startTime != ''">AND wo.createTime &gt;=#{startTime}</if>
        <if test="endTime != null and endTime != ''">AND wo.createTime &lt;=#{endTime,jdbcType=TIMESTAMP}</if>
        <if test="updateStartTime != null and updateStartTime != ''">AND wo.updateTime &gt;=#{updateStartTime}</if>
        <if test="updateEndTime!= null and updateEndTime != ''">AND wo.updateTime &lt;=#{updateEndTime,jdbcType=TIMESTAMP}</if>
        <if test="stateList !=null and stateList.size >0">
            AND wo.state in
            <foreach collection="stateList" item="state" index="index" open="(" separator="," close=")">
                #{state}
            </foreach>
        </if>
        ORDER BY wo.updateTime DESC
    </select>

    <resultMap id="WorkOrderDtoResult" type="WorkOrderDto">
        <id property="id" column="id"/>
        <result property="userId" column="userId"/>
        <result property="carNumber" column="carNumber"/>
        <result property="updateTime" column="updateTime"/>
        <result property="mobile" column="mobile"/>
        <result property="lvlName" column="lvlName"/>
        <result property="state" column="state"/>
        <result property="totalPrice" column="totalPrice"/>
        <result property="payType" column="payType"/>
        <result property="businessName" column="businessName"/>
        <result property="workOrderMobile" column="workOrderMobile"/>
        <collection property="workOrderDetails" ofType="WorkOrderDetail">
            <result property="id" column="detailId"/>
            <result property="serviceItemId" column="serviceItemId"/>
            <result property="salePrice" column="salePrice"/>
            <association property="serviceItem" javaType="ServiceItem">
                <result property="itemName" column="itemName"/>
                <result property="salePrice" column="salePrice"/>
                <result property="originalPrice" column="originalPrice"/>
            </association>
        </collection>
    </resultMap>

    <select id="selectPageByWorkOrderIds" parameterType="java.util.HashMap" resultMap="WorkOrderDtoResult">
        SELECT wo.id,u.id AS userId,wo.carNumber,wo.updateTime,wo.state,wo.totalPrice,wo.mobile as
        workOrderMobile,u.mobile,ml.lvlName,b.businessName as businessName,
        detail.id AS detailId,detail.serviceItemId,detail.serviceItemName as itemName,detail.salePrice as
        salePrice,(CASE WHEN wc.id IS NOT NULL THEN 1 ELSE 2 END) AS payType
        FROM WorkOrder wo
        LEFT JOIN Business b on wo.businessId=b.id
        LEFT JOIN MemberLvlRecord mlr ON wo.userId=mlr.userId
        LEFT JOIN MemberLvl ml ON mlr.memberLvlId=ml.id
        LEFT JOIN User u ON wo.userId = u.id
        LEFT JOIN WorkOrderDetail detail ON wo.id=detail.workOrderId
        LEFT JOIN WeChatPayOrder wc ON (wo.id = wc.workOrderId AND wc.status =2)
        WHERE 1=1
        <if test="workOrderIds !=null and workOrderIds.size >0">
            AND wo.id in
            <foreach collection="workOrderIds" item="workOrderId" index="index" open="(" separator="," close=")">
                #{workOrderId}
            </foreach>
        </if>
        <if test="orderBy != null and orderBy != ''">
            <choose>
                <when test="orderBy.indexOf('CASE') != -1">
                    ORDER BY (CASE wo.state WHEN 3 THEN 1 WHEN 1 THEN 2 WHEN 2 THEN 3 WHEN 4 THEN 4 END)
                    asc,wo.updateTime DESC
                </when>
                <otherwise>
                    ORDER BY wo.${orderBy}
                </otherwise>
            </choose>
        </if>
    </select>

    <select id="selectInitialByOpenId" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select w.createTime as time,concat(b.businessName,',工单:',carNumber) as comment
        from WorkOrder w
		INNER JOIN Business b on w.businessId=b.id
        INNER JOIN User u on w.userId=u.id where u.wxOpenId=#{wxOpenId}
        ORDER BY w.id ASC LIMIT 1
    </select>
</mapper>