/* Transition
 -------------------------- */
/* gradient
 -------------------------- */
/* Colors
 -------------------------- */
/* Link
 -------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* Font
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
 -------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Input
-------------------------- */
/* Button
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Loading
 --------------------------*/
/* Modal
 --------------------------*/
/* Message
-------------------------- */
/* Message Box
 -------------------------- */
/* Dialog
-------------------------- */
/* Switch
-------------------------- */
/* ellisps
----------------------------*/
.consume-detail-page {
  padding: calc(54px) 10px 10px;
}
.consume-detail-page .detail-head {
  padding: 19px 10px 0;
  text-align: center;
  background-color: #fff;
  font-weight: bold;
  font-size: 24px;
  border-radius: 2px;
}
.consume-detail-page .detail-head .car-number {
  position: relative;
  margin-top: 19px;
  margin-bottom: 10px;
  height: 44px;
  line-height: 44px;
  font-size: 15px;
  border-top: 1px solid #f2f2f2;
}
.consume-detail-page .detail-head .car-number:before {
  content: '';
  position: absolute;
  top: 0;
  width: 14px;
  height: 14px;
  border-radius: 10px;
  background-color: #f6f6f6;
  left: -10px;
  transform: translate(-60%, -50%);
}
.consume-detail-page .detail-head .car-number:after {
  content: '';
  position: absolute;
  top: 0;
  width: 14px;
  height: 14px;
  border-radius: 10px;
  background-color: #f6f6f6;
  right: -10px;
  transform: translate(60%, -50%);
}
.consume-detail-page .detail-info {
  padding: 0 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 2px;
}
.consume-detail-page .detail-info li {
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #f2f2f2;
}
.consume-detail-page .detail-info .info-title {
  font-size: 14px;
  color: #656d78;
  font-weight: bold;
}
.consume-detail-page .detail-info .info-service {
  height: auto;
  color: #222;
}
.consume-detail-page .detail-info .info-service .info-service-p1 {
  height: 38px;
  line-height: 38px;
}
.consume-detail-page .detail-info .info-service .info-service-p1 i {
  margin-left: 4px;
  margin-right: 6px;
  color: #999;
  font-size: 12px;
}
.consume-detail-page .detail-info .info-service .info-service-p1 .user-card {
  width: 25px;
  height: 16px;
  padding: 0 2px;
  text-align: center;
  line-height: 16px;
  color: #fff;
  font-size: 10px;
  background-color: #fb6753;
  border-radius: 2px;
}
.consume-detail-page .detail-info .info-service .info-service-p2,
.consume-detail-page .detail-info .info-service .info-service-p3,
.consume-detail-page .detail-info .info-service .info-service-p4 {
  height: 36px;
  line-height: 36px;
}
.consume-detail-page .detail-info .info-service .info-service-p2 i {
  font-size: 13px;
  color: #999;
}
.consume-detail-page .detail-info .info-service .info-service-p4 {
  text-align: right;
}
.consume-detail-page .detail-info .info-service-sum {
  text-align: right;
  color: #656d78;
}
.consume-detail-page .detail-info .info-service-sum span {
  margin: 0 10px 0 4px;
}
.consume-detail-page .detail-info .info-service-sum span:last-child {
  margin-right: 0;
}
.consume-detail-page .detail-info .info-sum {
  text-align: right;
  font-size: 15px;
  color: #222;
}
.consume-detail-page .detail-info .info-sum .info-sum-price {
  font-size: 17px;
  color: #ff733a;
  margin-left: 6px;
  font-weight: bold;
}
.consume-detail-page .detail-info .price {
  float: right;
  color: #222;
}
.consume-detail-page .detail-info .info-finish .icon_wrap i {
  font-size: 10px;
}
.consume-detail-page .detail-info .info-finish .info-discount-num {
  margin-left: 4px;
  font-size: 10px;
  border: 1px solid #fb6753;
  border-radius: 2px;
  padding: 1px 2px;
  color: #fb6753;
}
.consume-detail-page .detail-info .info-finish .info-deduct {
  float: right;
  color: #fb6753;
}
.consume-detail-page .detail-info .info-finish .coupon-name {
  color: #999;
}
.consume-detail-page .detail-info .info-finish.first {
  position: relative;
}
.consume-detail-page .detail-info .info-finish.first:before {
  content: '';
  position: absolute;
  top: 0;
  width: 14px;
  height: 14px;
  border-radius: 10px;
  background-color: #f6f6f6;
  left: -10px;
  transform: translate(-60%, -50%);
}
.consume-detail-page .detail-info .info-finish.first:after {
  content: '';
  position: absolute;
  top: 0;
  width: 14px;
  height: 14px;
  border-radius: 10px;
  background-color: #f6f6f6;
  right: -10px;
  transform: translate(60%, -50%);
}
.consume-detail-page .detail-image {
  padding: 0 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 2px;
}
.consume-detail-page .detail-image .image-title {
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #f2f2f2;
}
.consume-detail-page .detail-image .image-wrap {
  position: relative;
  padding: 5px 0;
  margin: 0 -5px;
  zoom: 1;
}
.consume-detail-page .detail-image .image-wrap:after {
  content: " ";
  display: table;
  clear: both;
}
.consume-detail-page .detail-image .image-wrap li {
  position: relative;
  float: left;
  width: 33.33%;
  height: 0;
  padding-bottom: 33.33%;
}
.consume-detail-page .detail-image .image-wrap li i {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: #f6f6f6 center center no-repeat;
  background-size: cover;
}
.consume-detail-page .detail-image .image-empty {
  height: 50px;
  line-height: 50px;
  color: #999;
  text-align: center;
}
.consume-detail-page .detail-other {
  padding: 8px 10px;
  background-color: #fff;
  border-radius: 2px;
}
.consume-detail-page .detail-other P {
  height: 32px;
  line-height: 32px;
  color: #999;
}
.consume-detail-page .detail-other P span {
  margin-left: 30px;
  color: #222;
}
