/* Transition
 -------------------------- */
/* gradient
 -------------------------- */
/* Colors
// -------------------------- */
/* Link
 -------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* Fill
-------------------------- */
/* Font
-------------------------- */
/* z-index
 -------------------------- */
/* Disable base
-------------------------- */
/* icon
-------------------------- */
/* Select
-------------------------- */
/* Input
-------------------------- */
/* Button
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Loading
 --------------------------*/
/* Message Box
 -------------------------- */
/* Message
-------------------------- */
/* Dialog
-------------------------- */
/* Scrollbar
--------------------------*/
/* Popover
-------------------------- */
/* Tooltip
  -------------------------- */
/* Radio
-------------------------- */
/* Checkbox
-------------------------- */
/* Tag
-------------------------- */
/* clearfix
--------------------------*/
.pt {
  padding-top: 50px;
}
.r {
  float: right;
}
.gray {
  color: #999;
}
