/* Transition
 -------------------------- */
/* gradient
 -------------------------- */
/* Colors
// -------------------------- */
/* Link
 -------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* Fill
-------------------------- */
/* Font
-------------------------- */
/* z-index
 -------------------------- */
/* Disable base
-------------------------- */
/* icon
-------------------------- */
/* Select
-------------------------- */
/* Input
-------------------------- */
/* Button
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Loading
 --------------------------*/
/* Message Box
 -------------------------- */
/* Message
-------------------------- */
/* Dialog
-------------------------- */
/* Scrollbar
--------------------------*/
/* Popover
-------------------------- */
/* Tooltip
  -------------------------- */
/* Radio
-------------------------- */
/* Checkbox
-------------------------- */
/* Tag
-------------------------- */
/* clearfix
--------------------------*/
.pt {
  padding-top: 50px;
}
.r {
  float: right;
}
.gray {
  color: #999;
}
.page-base {
  margin-top: 10px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}
.zs-table th .zs-table__cell {
  border-right: 1px solid #e6e6e6;
}
.zs-table th,
.zs-table td {
  border-color: #f2f2f2;
}
