/* Transition
 -------------------------- */
/* gradient
 -------------------------- */
/* Colors
 -------------------------- */
/* Link
 -------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* Font
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
 -------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Input
-------------------------- */
/* Button
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Loading
 --------------------------*/
/* Modal
 --------------------------*/
/* Message
-------------------------- */
/* Message Box
 -------------------------- */
/* Dialog
-------------------------- */
/* Switch
-------------------------- */
/* ellisps
----------------------------*/
.workorder-page {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.workorder-page .tab__wrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}
.workorder-page .pull-menu-wrap {
  top: 50px;
  border-top: 1px solid #f2f2f2;
}
.workorder-page .pull-menu-wrap .pull-menu-marsk {
  top: 96px;
}
.workorder-page .item-list {
  position: relative;
  padding: 65px 15px 55px;
  min-height: 100%;
}
.workorder-page .item-list.pt110 {
  padding-top: 110px;
}
.workorder-page .item-list .list {
  padding-top: 10px;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 2px;
}
.workorder-page .item-list .list .list-info {
  padding-left: 15px;
  padding-right: 10px;
  margin-bottom: 7px;
}
.workorder-page .item-list .list .list-info .car-number {
  font-size: 15px;
  font-weight: bold;
}
.workorder-page .item-list .list .list-info .member-label {
  position: relative;
  top: -1px;
  margin-left: 6px;
  font-size: 10px;
  color: #999;
  font-weight: bold;
}
.workorder-page .item-list .list .list-info .member-label.is-member {
  color: #ff8023;
}
.workorder-page .item-list .list .list-info .pay-time {
  float: right;
  padding-top: 2px;
  font-size: 10px;
  color: #999;
}
.workorder-page .item-list .list .items {
  padding: 0 15px 7px 45px;
}
.workorder-page .item-list .list .items li {
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  color: #656d78;
}
.workorder-page .item-list .list .items li span {
  float: right;
}
.workorder-page .item-list .list .control {
  height: 50px;
  padding-right: 15px;
  line-height: 50px;
  text-align: right;
  border-top: 1px solid #f2f2f2;
}
.workorder-page .item-list .list .control .zs-button {
  padding: 0;
  height: 30px;
  width: 80px;
  line-height: 30px;
  border-radius: 2px;
}
.workorder-page .item-list .list .control .total-price {
  margin-left: 10px;
  font-size: 16px;
  color: #e75845;
  font-weight: bold;
}
.workorder-page .item-list .list .operator-detail {
  font-size: 12px;
  color: #999;
}
.workorder-page .item-list .list .operator-detail:last-child {
  margin-left: 10px;
}
.workorder-page .item-list .list .operator-detail i {
  margin-left: 5px;
}
.workorder-page .item-list .list:active {
  background-color: #f0f3fa;
}
.workorder-page .show-more {
  margin-bottom: 15px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #fff;
  font-size: 12px;
  color: #656d78;
}
.workorder-page .no-more {
  background: none;
  color: #999;
}
.workorder-page .list-empty {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 77px;
  width: 100%;
  padding-top: 43px;
  font-size: 12px;
  color: #999;
  text-align: center;
  line-height: 34px;
  transform: translate(-50%, -50%);
  background-image: url("../../../assets/img/empty.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 43px 43px;
}
.workorder-page .create-label {
  position: fixed;
  left: 15px;
  bottom: 65px;
  width: 70px;
  height: 70px;
  background: url("../../../../../assets/img/create_label.png") no-repeat center center;
  background-size: contain;
}
.workorder-page .operator-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 49px;
  zoom: 1;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.06);
  background-color: #fff;
}
.workorder-page .operator-menu:after {
  content: " ";
  display: table;
  clear: both;
}
.workorder-page .operator-menu li {
  width: 50%;
  float: left;
  padding-top: 4px;
  text-align: center;
}
.workorder-page .operator-menu li p {
  display: inline-block;
  width: 100%;
  padding-top: 25px;
  font-size: 10px;
  color: #999;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 22px;
}
.workorder-page .operator-menu li .p1 {
  background-image: url("../../../../../assets/img/quit.png");
}
.workorder-page .operator-menu li .p2 {
  background-image: url("../../../../../assets/img/add_order.png");
}
.workorder-page .pay-type-list {
  padding-left: 15px;
  background-color: #fff;
}
.workorder-page .pay-type-list li {
  height: 46px;
  padding-right: 35px;
  line-height: 46px;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #f2f2f2;
}
.workorder-page .pay-type-list li.curr {
  position: relative;
  color: #4b8dde;
}
.workorder-page .pay-type-list li.curr:after {
  position: absolute;
  content: '';
  right: 15px;
  top: 50%;
  width: 10px;
  height: 4px;
  border: solid #4b8dde;
  border-width: 0 0 2px 2px;
  transform: rotate(-45deg) translateY(-70%);
}
.workorder-page .pay-type-list li:last-child {
  border-bottom: none;
}
.workorder-page .create-time-select {
  padding: 30px 15px;
  background-color: #fff;
  zoom: 1;
}
.workorder-page .create-time-select:after {
  content: " ";
  display: table;
  clear: both;
}
.workorder-page .create-time-select .time-wrap {
  position: relative;
  float: left;
  padding-right: 36px;
  padding-left: 10px;
  height: 40px;
  line-height: 40px;
  width: 45%;
  border: 1px solid #dadada;
  border-radius: 2px;
  color: #999;
}
.workorder-page .create-time-select .time-wrap:after {
  position: absolute;
  top: 0;
  right: 10px;
  content: '';
  width: 15px;
  height: 40px;
  background-image: url('../../../../../components/icon/assets/date.png');
  background-size: 15px 15px;
  background-position: 0 center;
  background-repeat: no-repeat;
}
.workorder-page .create-time-select .time-wrap input {
  position: absolute;
  top: 0;
  left: 40px;
  width: 100%;
  z-index: -1;
}
.workorder-page .create-time-select .time-wrap-sep {
  float: left;
  width: 10%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #999;
}
.workorder-page .create-time-btn {
  zoom: 1;
}
.workorder-page .create-time-btn:after {
  content: " ";
  display: table;
  clear: both;
}
.workorder-page .create-time-btn li {
  float: left;
  width: 50%;
  height: 44px;
  line-height: 44px;
  color: #fff;
  text-align: center;
  font-size: 16px;
}
.workorder-page .create-time-btn li:first-child {
  background-color: #999;
}
.workorder-page .create-time-btn li:last-child {
  background-color: #4b8dde;
}
