/* Transition
 -------------------------- */
/* gradient
 -------------------------- */
/* Colors
// -------------------------- */
/* Link
 -------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* Fill
-------------------------- */
/* Font
-------------------------- */
/* z-index
 -------------------------- */
/* Disable base
-------------------------- */
/* icon
-------------------------- */
/* Select
-------------------------- */
/* Input
-------------------------- */
/* Button
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Loading
 --------------------------*/
/* Message Box
 -------------------------- */
/* Message
-------------------------- */
/* Dialog
-------------------------- */
/* Scrollbar
--------------------------*/
/* Popover
-------------------------- */
/* Tooltip
  -------------------------- */
/* Radio
-------------------------- */
/* Checkbox
-------------------------- */
/* Tag
-------------------------- */
/* clearfix
--------------------------*/
.r {
  float: right;
}
.merchant {
  border-radius: 4px;
  padding: 10px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  width: 1280px;
  margin: 20px auto 0;
}
.gray {
  color: #999;
}
.page-base {
  margin-top: 20px;
  border-radius: 4px;
}
.merchant .merchant-top .zs-button__primary {
  height: 36px;
  margin-bottom: 10px;
}
.merchant .zs-table__body .control span {
  color: #4b8dde;
  margin-right: 16px;
  cursor: pointer;
}
.merchant .zs-table__body .control span:last-child {
  margin-right: 0;
}
.merchant .table-empty-data {
  height: 348px;
}
.merchant .package-item-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.package-table .zs-table thead tr {
  background-color: #fff;
}
.pay_list-pagination {
  margin: 20px 10px 10px;
  text-align: right;
}
